@model CRUDClientes.Models.Entidades.Clientes

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Clientes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomeCliente" class="control-label"></label>
                <input asp-for="NomeCliente" class="form-control" />
                <span asp-validation-for="NomeCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Documento" class="control-label"></label>
                <input asp-for="Documento" class="form-control" />
                <span asp-validation-for="Documento" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TipoDocumento" class="control-label"></label>
                <select asp-for="TipoDocumento" class="form-control" asp-items=@ViewBag.TiposDocumento> </select>
                <span asp-validation-for="TipoDocumento" class="text-danger"></span>
            </div>



            <div class="form-group">
                <label asp-for="Celular" class="control-label"></label>
                <input asp-for="Celular" class="form-control" />
                <span asp-validation-for="Celular" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TipoCelular" class="control-label"></label>
                <select asp-for="TipoCelular" class="form-control" asp-items=@ViewBag.TiposTelefone></select>
                <span asp-validation-for="TipoCelular" class="text-danger"></span>
            </div>



            <div class="form-group">
                <label asp-for="Celular2" class="control-label"></label>
                <input asp-for="Celular2" class="form-control" />
                <span asp-validation-for="Celular2" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TipoCelular2" class="control-label"></label>
                <select asp-for="TipoCelular2" class="form-control" asp-items=@ViewBag.TiposTelefone2></select>
                <span asp-validation-for="TipoCelular2" class="text-danger"></span>
            </div>



            <div class="form-group">
                <label asp-for="Celular3" class="control-label"></label>
                <input asp-for="Celular3" class="form-control" />
                <span asp-validation-for="Celular3" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TipoCelular3" class="control-label"></label>
                <select asp-for="TipoCelular3" class="form-control" asp-items=@ViewBag.TiposTelefone3></select>
                <span asp-validation-for="TipoCelular3" class="text-danger"></span>
            </div>




            <div class="form-group">
                <label asp-for="Endereco" class="control-label"></label>
                <input asp-for="Endereco" class="form-control" />
                <span asp-validation-for="Endereco" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TipoEndereco" class="control-label"></label>
                <select asp-for="TipoEndereco" class="form-control" asp-items=@ViewBag.TiposEndereco> </select>
                <span asp-validation-for="TipoEndereco" class="text-danger"></span>
            </div>



            <div class="form-group">
                <label asp-for="Endereco2" class="control-label"></label>
                <input asp-for="Endereco2" class="form-control" />
                <span asp-validation-for="Endereco2" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TipoEndereco2" class="control-label"></label>
                <select asp-for="TipoEndereco2" class="form-control" asp-items=@ViewBag.TiposEndereco2> </select>
                <span asp-validation-for="TipoEndereco2" class="text-danger"></span>
            </div>



            <div class="form-group">
                <label asp-for="Endereco3" class="control-label"></label>
                <input asp-for="Endereco3" class="form-control" />
                <span asp-validation-for="Endereco3" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TipoEndereco3" class="control-label"></label>
                <select asp-for="TipoEndereco3" class="form-control" asp-items=@ViewBag.TiposEndereco3> </select>
                <span asp-validation-for="TipoEndereco3" class="text-danger"></span>
            </div>





            <div class="form-group">
                <input type="submit" value="Salvar Alterações" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
